<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/covid-board.js"></script>
</head>
<body>
    <div class="content">
        <div class="title">
            <span>전세계 확진자 현황</span>
        </div>
        <div>
            <span class="NewConfirmed"></span>
        </div>
        <ul class="worldwide-board" id="worldwide-board">
            <li class="worldwide-board-cell" id="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>
            
        </ul>
    </div>
</body>
</html>




