<!DOCTYPE html>
<html lang="ko">
<!--
https://www.ytn.co.kr/issue/corona.php

fs -> json 파일 읽기


-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>covid-19 dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="../newsdata.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
</head>

<body>

    <div class="content">
        <div class="title">
            <span style="font-size:28px; font-weight: bold;">생활속 거리두기</span>
        </div>
    </div>

    <div class="content">
        <div class="title">
            <span>대한민국 일일 확진자 추이</span>
        </div>
        <div class="graph">
            <div class="korea-day">
                <div class="korea-util">
                    <div class="korea live-confirmed">  </div>
                    <div class="korea changed-confirmed" id="changed-confirmed"></div>
                </div>
                <!-- 증가된 확진자 수 원 그래프-->
                <div class="korea-changed">
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="title">
            <span>전세계 확진자 현황</span>
            <span><a href="#">더보기</a></span>
        </div>
        <div>
            <span class="NewConfirmed"></span>
        </div>
        <ul class="worldwide-board">
            <li class="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>
            <li class="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>
            <li class="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>
            <li class="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>
            <li class="worldwide-board-cell">
                <div class="rank util"></div>
                <div class="country util"></div>
                <div class="confirmed util">
                    <div class="total-confirmed"></div>
                    <div class="today-updated"></div>
                </div>
            </li>

        </ul>
    </div>

    <div class="content" title="코로나 주요 뉴스">
        <div class="title">
            <span>코로나 주요 뉴스</span>
            <span><a href="#">더보기</a></span>
        </div>

        <ul class="news-board">
            <li class="news-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li>
            <li class="news-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li><li class="news-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li><li class="news-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li><li class="news-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>