<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/covid-news.js"></script>
    <title>covid-news</title>
</head>
<body>
    
    <div class="content" title="코로나 주요 뉴스">
        <div class="title">
            <span>코로나 주요 뉴스</span>
        </div>

        <ul class="news-board" id="news-list">
            <li class="news-cell" id="news-list-cell">
                <a href="#">
 
                    <div class="headline"></div>
                    <div class="summary">
                    </div>
                    <div class="date"></div>
                </a>
            </li>
        </ul>

</body>
</html>